@import "vars";
@import "dialogs";
@import "responsive";

@mixin member {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 16px;
  position: relative;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 40px;
  margin: 4px;
  display: inline-block;
  .avatar {
    height: 32px;
    width: 32px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@mixin knob {
  mask-position: 50% 50%;
  mask-size: 15px;
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}

@mixin knob-mask($url) {
  -webkit-mask-image: $url;
  mask-image: $url;
  background-color: $color_gull_gray_approx;
}

body {
  font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
  font-size: 15px;
  spacing: 0 17px;
  background-color: $color_gallery_approx;
  margin: 0;
  padding: auto;
  h4 {
    margin: 0;
    font-size: 13px;
  }
}

p {
  line-height: 6px;
}

section {
  background-color: $white;
  padding: 16px;
  margin: 8px 0;
}

#header {
  border-bottom: 1px solid $color_gallery_approx;
  background-color: $white;
  padding-top: 1px;
}

#footer {
  background-color: $white;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px;
  border-top: 8px solid $color_gallery_approx;
  text-align: center;
  min-height: 40px;
  .btn {
    margin: 0 4px;
    min-width: 15%; // This actually goes against the task, but looks much better.
  }
}

#logo {
  display: inline-block;
  width: 149px;
  height: 21px;
  background-image: $url_logo;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 15px;
  margin-bottom: 11px;
  margin-left: 21px;
}

.btn {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  padding: 12px 24px 14px;
  display: inline-block;
  text-decoration: none;
  background: $color_gallery_approx;
  cursor: pointer;
  &:active {
    background: $color_bon_jour_approx;
  }
  &.btn-primary {
    background: $color_azure_radiance_approx;
    color: $white;
    &:active {
      background: $color_blue_ribbon_approx;
    }
  }
  &.btn-disabled {
    background: $color_gallery_approx;
    color: $black_20;
    cursor: not-allowed;
  }
}
.knob {
  background-color: $color_gallery_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 100%;
  @include knob;
  &:active {
    background-color: $color_alto_approx;
  }
}
.input-knob {
  @include knob;
  position: absolute;
  right: 10px;
  top: 10;
}
.knob-calendar {
  @include knob-mask($img_calendar);
}
.knob-close {
  @include knob-mask($img_close);
}
.knob-edit {
  @include knob-mask($img_edit);
}
.knob-left {
  @include knob-mask($img_left);
}
.knob-right {
  @include knob-mask($img_right);
}

.member-invited {
  @include member;
  background: $color_gallery_approx;
  width: 100%;
  box-sizing: border-box;
  &:active {
    background: $color_mercury_approx;
  }
  .avatar {
    height: 32px;
    width: 32px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .input-knob {
    top: 5px;
  }
}

.member {
  @include member;
}

label {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

#app {
  margin-bottom: 120px;
}

.input-form {
  width: 100%;
}

.input-group {
  width: 100%;
  position: relative;
}

.time-input-group {
  display: inline-block;
  padding: 0;
  width: 44%;
  box-sizing: border-box;
  label {
    display: none;
  }
  @media (min-width: $screen-md-min) {
    width: 42%;
    label {
      display: block;
    }
  }
}

.time-input-dash {
  display: inline-block;
  width: 10%;
  text-align: center;
  font-weight: bold;
  @media (min-width: $screen-md-min) {
    width: 12%;
  }
}

input {
  display: inline-block;
  padding: 11px;
  border: solid 2px $color_gallery_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
  width: 100%;
  margin-bottom: 6px;
  height: 46px;
  font-size: 16px;
  overflow: visible;
  position: relative;
}
.room {
  background-color: $color_gallery_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 12px;
  width: 100%;
  position: relative;
  margin: 4px 0;
  box-sizing: border-box;
  .room-time {
    padding-right: 12px;
    font-weight: bold;
  }
}
.room-selected {
  background-color: $color_azure_radiance_approx;
  color: $white;
  .knob-close {
    background-color: $white;
  }
}

.link-danger {
  color: red;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.row {
  background: $white;
}
