body .ui-dialog.ui-widget-content {
  z-index: 1005; }
  body .ui-dialog.ui-widget-content .ui-dialog-content {
    text-align: center;
    border-radius: 8px;
    border: 0;
    padding: 32px 0; }
    body .ui-dialog.ui-widget-content .ui-dialog-content .dialog-emoji {
      width: 40px;
      height: 40px; }
  body .ui-dialog.ui-widget-content span {
    color: black; }

#vis-tooltip {
  color: #777 !important; }
  #vis-tooltip span, #vis-tooltip div, #vis-tooltip p {
    color: black; }

body .ui-widget-overlay {
  background-color: rgba(0, 16, 33, 0.8);
  opacity: 1; }

body {
  font-family: HelveticaNeue-Medium, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 15px;
  spacing: 0 17px;
  background-color: #e9ecef;
  margin: 0;
  padding: auto; }
  body h4 {
    margin: 0; }

p {
  line-height: 6px; }

section {
  background-color: #ffffff;
  padding: 16px; }

#header {
  border-bottom: 1px solid #e9ecef;
  background-color: #ffffff;
  padding-top: 1px; }

#footer {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px;
  border-top: 8px solid #e9ecef;
  text-align: center;
  min-height: 40px; }

#logo {
  display: inline-block;
  width: 149px;
  height: 21px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 15px;
  margin-bottom: 11px;
  margin-left: 21px; }

.btn {
  border-radius: 4px;
  padding: 12px 24px 14px;
  display: inline-block;
  text-decoration: none;
  background: #e9ecef;
  cursor: pointer; }
  .btn:active {
    background: #dde0e4; }
  .btn.btn-primary {
    background: #007dff;
    color: #ffffff; }
    .btn.btn-primary:active {
      background: #0059ff; }
  .btn.btn-disabled {
    background: #e9ecef;
    color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed; }

.knob {
  background-color: #e9ecef;
  border-radius: 100%;
  mask-position: 50% 50%;
  mask-size: 15px;
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block; }
  .knob:active {
    background-color: #dcdfe1; }

.input-knob {
  mask-position: 50% 50%;
  mask-size: 15px;
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10; }

.knob-calendar {
  -webkit-mask-image: url(../img/calendar.svg);
  mask-image: url(../img/calendar.svg);
  background-color: #98a9b9; }

.knob-close {
  -webkit-mask-image: url(../img/close.svg);
  mask-image: url(../img/close.svg);
  background-color: #98a9b9; }

.knob-edit {
  -webkit-mask-image: url(../img/edit.svg);
  mask-image: url(../img/edit.svg);
  background-color: #98a9b9; }

.knob-left {
  -webkit-mask-image: url(../img/arrow2.svg);
  mask-image: url(../img/arrow2.svg);
  background-color: #98a9b9; }

.knob-right {
  -webkit-mask-image: url(../img/arrow.svg);
  mask-image: url(../img/arrow.svg);
  background-color: #98a9b9; }

.member-invited {
  border-radius: 16px;
  position: relative;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 40px;
  margin: 4px;
  display: inline-block;
  background: #e9ecef;
  width: 288px; }
  .member-invited .avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .member-invited:active {
    background: #e2e3e4; }
  .member-invited .avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .member-invited .input-knob {
    top: 5px; }

.member {
  border-radius: 16px;
  position: relative;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 40px;
  margin: 4px;
  display: inline-block; }
  .member .avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0; }

label {
  display: block;
  font-weight: bold;
  font-size: 13px; }

.input-form {
  width: 400px; }

.input-group {
  width: 100%;
  position: relative; }

input {
  display: inline-block;
  padding: 11px;
  border: solid 2px #e9ecef;
  border-radius: 4px;
  font-family: HelveticaNeue, Helvetica, Arial, Lucida Grande, sans-serif;
  width: 100%;
  margin-bottom: 6px;
  height: 46px;
  font-size: 16px;
  overflow: visible;
  position: relative; }
  input.input-time {
    width: 44%;
    display: inline-block; }

.room {
  background-color: #e9ecef;
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 12px;
  width: 316px;
  position: relative;
  margin: 4px 0; }
  .room .room-time {
    padding-right: 12px;
    font-weight: bold; }

.room-selected {
  background-color: #007dff;
  color: #ffffff; }
  .room-selected .knob-close {
    background-color: #ffffff; }

.link-danger {
  color: red;
  text-decoration: none;
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right;
  margin: 2px 5px; }

/*# sourceMappingURL=app.css.map */
