@import "vars";

body .ui-dialog.ui-widget-content  {
  z-index: 1005;
  .ui-dialog-content {
    text-align: center;
    border-radius: 8px;
    border: 0;
    padding: 32px 0;
    .dialog-emoji {
      width: 40px;
      height: 40px;
    }
  }
  span {
    color: black;
  }
}

#vis-tooltip {
  color: #777 !important;
  span, div, p {
    color: black;
  }
}

body .ui-widget-overlay {
  background-color: rgba(0,16,33,0.8);
  opacity: 1;
}
