//colors
$black: #000;
$color_oslo_gray_approx: #858e98;
$white: #ffffff;
$color_prussian_blue_28_approx: rgba(0, 44, 92, 0.28);
$color_gallery_approx: #e9ecef;
$color_bon_jour_approx: #dde0e4;
$color_azure_radiance_approx: #007dff;
$color_blue_ribbon_approx: #0059ff;
$black_20: rgba(0, 0, 0, 0.2);
$color_alto_approx: #dcdfe1;
$color_mercury_approx: #e2e3e4;
$color_geyser_approx: #d5dfe9;
$color_gull_gray_approx: #98a9b9;

//fonts
$font_0: HelveticaNeue-Medium;
$font_1: Helvetica;
$font_2: Arial;
$font_3: Lucida Grande;
$font_4: sans-serif;
$font_5: HelveticaNeue;

//urls
$url_logo: url(../img/logo.svg);
$img_edit: url(../img/edit.svg);
$img_left: url(../img/arrow2.svg);
$img_right: url(../img/arrow.svg);
