#timeline .vis-foreground .vis-group {
  border-bottom: 1px solid transparent; }
#timeline .vis-labelset .vis-label {
  border-bottom: 1px solid #e9ecef; }
#timeline .vis-timeline {
  border: 0; }
#timeline .vis-panel {
  border: 0; }

#timeline .current-time-bar {
  background-color: #007dff;
  z-index: 1001;
  margin-top: 25px;
  margin-bottom: -25px; }
#timeline .timebar-timer {
  position: absolute;
  text-align: center;
  width: 49px;
  left: -14px;
  background-color: #007dff;
  color: #ffffff;
  border-radius: 100px;
  font-size: 11px;
  font-weight: bold; }

#timeline .vis-labelset {
  overflow: visible;
  padding-right: 5px; }
  #timeline .vis-labelset .timeline-room-disabled .vis-inner {
    color: #858e98; }
    #timeline .vis-labelset .timeline-room-disabled .vis-inner h4 {
      color: #858e98; }
  #timeline .vis-labelset.vis-labelset-transparent {
    background: transparent; }
    #timeline .vis-labelset.vis-labelset-transparent .vis-label {
      z-index: 1011;
      border-bottom: 0px; }
    #timeline .vis-labelset.vis-labelset-transparent .vis-nested-group {
      background: transparent; }
      #timeline .vis-labelset.vis-labelset-transparent .vis-nested-group .vis-inner {
        padding: 5px 8px 6px;
        background: #ffffff;
        box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
        border-radius: 4px;
        font-weight: bold;
        width: auto; }
        #timeline .vis-labelset.vis-labelset-transparent .vis-nested-group .vis-inner span {
          display: none; }
#timeline .vis-inner {
  color: #000; }
  #timeline .vis-inner h4 {
    color: #000; }
#timeline .vis-label .vis-inner {
  z-index: 1011; }
#timeline .vis-label.vis-nested-group {
  background-color: #ffffff;
  width: 181px;
  height: 59px;
  min-height: 59px;
  max-height: 59px;
  z-index: 100; }
  #timeline .vis-label.vis-nested-group .vis-inner {
    margin-left: -16px; }
#timeline .vis-label.vis-nesting-group {
  width: 181px; }
#timeline .timeline-store {
  color: #858e98;
  text-transform: uppercase;
  height: 31px; }
#timeline .time-slot {
  background: #ffffff;
  margin-top: -5px;
  height: 100%;
  border: 0; }
  #timeline .time-slot:active {
    background: #0059ff; }
  #timeline .time-slot.busy {
    background: #d5dfe9; }
    #timeline .time-slot.busy:active {
      background: #98a9b9; }
#timeline .vis-group {
  max-height: 59px; }
#timeline .vis-group.timeline-room-normal, #timeline .vis-group.timeline-room-disabled {
  height: 59px;
  min-height: 59px;
  max-height: 59px;
  background: #ffffff; }
  #timeline .vis-group.timeline-room-normal:active, #timeline .vis-group.timeline-room-normal .active, #timeline .vis-group.timeline-room-disabled:active, #timeline .vis-group.timeline-room-disabled .active {
    background: #0059ff; }
#timeline .vis-time-axis .vis-text {
  font-weight: bold;
  color: #262626;
  font-size: 11px; }
#timeline .vis-time-axis .vis-grid.vis-minor, #timeline .vis-time-axis .vis-grid.vis-major {
  border-width: 1px;
  border-color: rgba(19, 100, 205, 0.1);
  z-index: 999;
  pointer-events: none; }
#timeline .vis-text.vis-minor {
  display: inline-block;
  width: auto !important;
  transform: translateX(-50%);
  background: #e9ecef;
  z-index: 1000; }

/*# sourceMappingURL=vis.css.map */
