@import "vars";
@import "border-fixes";
@import "timebar";

#timeline {
  .vis-labelset {
    overflow: visible;
    padding-right: 5px;
    .timeline-room-disabled .vis-inner {
      color: $color_oslo_gray_approx;
      h4 {
        color: $color_oslo_gray_approx;
      }
    }
    &.vis-labelset-normal {
    }
    &.vis-labelset-transparent {
      background: transparent;
      .vis-nested-group .vis-inner {
        padding: 5px 8px 6px;
        background: $white;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 1px 8px 0 $color_prussian_blue_28_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 4px;
        font-weight: bold;
        width: auto;
        span {
          display: none;
        }
      };
      .vis-label{
        border-bottom: 0px;
      }
        .vis-nested-group {
          background: transparent;
        }

    }
  }
  .vis-inner {
    color: $black;
    h4 {
      color: $black;
    }
  }

  .vis-label .vis-inner {
    z-index: 1011;
  }
  .vis-label.vis-nested-group {
    background-color: $white;
    width: 181px;
    height: 59px;
    min-height: 59px;
    max-height: 59px;
    border-bottom: 0px;
    z-index: 100;
    .vis-inner {
      margin-left: -16px;
    }
  };

  .vis-label.vis-nesting-group {
    width: 181px;
  };

  .timeline-store {
    color: $color_oslo_gray_approx;
    text-transform: uppercase;
    height: 31px;
  }

  .time-slot {
    background: $white;
    margin-top: -5px;
    height: 100%;
    border: 0;
    &:active {
      background: $color_blue_ribbon_approx;
    }
    &.busy {
      background: $color_geyser_approx;
      &:active {
        background: $color_gull_gray_approx;
      }
    }
  };

  .vis-group {
    max-height: 59px;
  }

  .vis-group.timeline-room-normal, .vis-group.timeline-room-disabled {
    height: 59px;
    min-height: 59px;
    max-height: 59px;
    background: $white;
    &:active, .active {
      background: $color_blue_ribbon_approx;
    };
  };
  // Hours on time ruler:
  .vis-time-axis {
    .vis-text {
      font-weight: bold;
      color: #262626;
      font-size: 11px;
    }
  }

  .vis-time-axis {
    .vis-grid.vis-minor, .vis-grid.vis-major {
      border-width: 1px;
      border-color: rgba(19,100,205,0.1);
      z-index: 999;
      pointer-events: none;
    }
  }

  .vis-text.vis-minor {
    display: inline-block;
    width: auto !important;
    transform: translateX(-50%);
    background: $color_gallery_approx;
    z-index: 1000;
  }
};
